main {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/2194062/pexels-photo-2194062.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: bottom;
}

body {
    background-color: #F2F2F2; 
}

#appTitle {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    text-shadow: 3px 3px black;
}

#highScore {
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    margin: 10px;
    background-color: whitesmoke;
}

#startBtn {
    background-color: #2DCA56;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
}

#timer {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;

}

#question, #highScoreText {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.answerBtn {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #42BAE7;
}

#playAgainBtn { 
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #2DCA56;
    font-weight: 600;;
}


.hide {
    display: none;
}

.highScoresBox {
    text-align: center;
}

ol {
    margin: 10px auto;
    padding: 25px 50px 25px 100px;
    width: 40vw;
    border: 1px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 25px;
}