main {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
}

#highScore, #appTitle, #timer {
    padding: 8px;
}

.answerBtn {
    margin: 10px;
    padding: 10px;
}

.hide {
    display: none;
}

#startBtn {

}

